<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="io.qameta.allure.log4j2">
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5p] [%c{1}] - %m%n"/>
        </Console>

        <!-- File Appender -->
        <File name="FileAppender" fileName="target/logs/test-automation.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}] - %m%n"/>
        </File>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender" fileName="target/logs/test-automation.log"
                     filePattern="target/logs/test-automation-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Allure Appender -->
        <Appender type="AllureAppender" name="AllureAppender"/>
    </Appenders>

    <Loggers>
        <!-- Framework Loggers -->
        <Logger name="com.mobile.automation" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="AllureAppender"/>
        </Logger>

        <!-- Test Loggers -->
        <Logger name="com.mobile.test" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="AllureAppender"/>
        </Logger>

        <!-- Selenium/Appium Loggers -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="io.appium" level="WARN"/>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>

